@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
/*background: transparent;*/
border: 0;
vertical-align: top;
list-style:none;
list-style-type: none;
text-align:left;
}
:focus {
	outline: 0;
}


.pagina {box-sizing:border-box;
padding:0;
margin:0; padding: 0 20px; background:url(https://images.assetsdelivery.com/compings_v2/ihor_seamless/ihor_seamless1502/ihor_seamless150200211.jpg)}
 


.CENTER {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

/*TEXTOS*/

.SUBTITULO{font-size:3rem;
margin-bottom:0.5rem;
text-align:center;
line-height: 3rem;}


/*FIN TEXTOS*/


.SOCIAL {
position:absolute;
top:0;
/*left: 50%;
margin-left: -8.75rem;
margin-top:0.5625rem;
width: 17.5rem;*/
display: flex;
justify-content: space-evenly;
z-index: 9500;
margin:15px auto;
width:100%;}

/*BOTON SOCIAL*/
.FCBK, .TWITTER, .INSTA, .MAIL, .BACK, .HOME {
display:block;
text-indent:-625rem;
width:3.125rem;
height:3.125rem;
background-repeat:no-repeat;
cursor: pointer;
background-size:contain;
}
.HOME {background-image: url(https://akidaniel.github.io/menu/imagenes/bt_fcbk.png)}

.BACK {background-image: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_X2.svg)}

.FCBK {
background-image: url(https://akidaniel.github.io/menu/imagenes/bt_fcbk.png);
}

.TWITTER {
background-image: url(https://akidaniel.github.io/menu/imagenes/bt_twit.png);
}

.INSTA {background-image: url(https://akidaniel.github.io/menu/imagenes/bt_insta.png)
}

.MAIL {
background-image: url(https://akidaniel.github.io/menu/imagenes/bt_mail.png);
}

/*BOTON TEXT ME*/
.text-me {
	display: block;
	width: 3.75rem;
	height: 3.75rem;
	text-indent: -9999px;
	position: absolute;
	z-index: 999;
	right: 1.25rem;
	top: 1.8rem;
	background: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_TEXT.svg) no-repeat center 43%;
}
/*BOTON BACK TO TOP*/
.back-to-top {
	display: none;
	width: 3.75rem;
	height: 3.75rem;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 1.25rem;
	bottom: 1.25rem;
	background: url(https://akidaniel.github.io/menu/imagenes/bt_top.png) no-repeat center 43%;
	background-size: contain;
}


.MAIL:hover, .TWITTER:hover, .FCBK:hover, .INSTA:hover, .BACK:hover, .HOME:hover, .pre:hover, .post:hover {
-moz-filter: hue-rotate(0deg) saturate(0.2) brightness(1);
-o-filter: hue-rotate(0deg) saturate(0.2) brightness(1);
-ms-filter: hue-rotate(0deg) saturate(0.2) brightness(1);
-webkit-filter:hue-rotate(0deg) saturate(0.2) brightness(1);
filter:hue-rotate(0deg) saturate(0.2) brightness(1);
}


/*MENU*/


.flexbox {
display: flex;

margin: 0 auto;
}

.lista {
justify-content: space-evenly;
} 

.menuitemcontainer {max-width: 580px; min-width: 356px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius:10px; margin: 0 auto; -moz-box-shadow: #223139 0 0 5px; -webkit-box-shadow: #223139 0 0 5px; box-shadow: #223139 0 0 5px; }
.menuitem { font-family: 'Berkshire Swash', cursive;
 font-size: 24px; color: #803a30; text-align: center; padding: 8px 0 10px 0; border-bottom: 2px solid #afafaf; margin: 0 auto; 
}

.topimage {background-position: center center; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius:10px; -moz-border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius:10px;}
.principal {
background: ;
flex: 1;
font-family: 'Yantramanav', sans-serif;
font-size:18px;
  padding: 5px 5px 2px 5px; border-bottom: 2px dotted #ccc;
  color:#454545;
}
.precio {
  flex: 0 0 80px;
  text-align:right;
}

.dish-2 {text-align: center; margin-top: 15px; width:49%;}
.dish-3 {text-align: center; margin-top: 15px; width:32%;}
.dish-2 img, .dish-3 img {max-height: 100%; max-width: 100%;}
.descr {font-family: 'Yantramanav', sans-serif;
font-size:14px; text-align:center; margin: 5px 0; line-height: 125%;

}

.descr span {color: #860f00;}
.descr span span {color: #00219c}
.menuitem.plato {font-size:20px; border-bottom: none; line-height: 100%; padding:0;}
.price {position: relative;
 font-family: 'Yantramanav', sans-serif;
 font-size: 18px; -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: red;
    font-weight: bold;
    color: white;
    bottom: 30px; left: 40px;}

.pricex3 {left: 0px;}
.lastline {border:none; text-align:center; background:;}




@media only screen and (max-width: 900px) {

.SUBTITULO {margin-top: 5rem;}

}

@media only screen and (min-width:901px) {


.SOCIAL {
top:93px;
margin-right: 5px;
width:60px;
/*height:250px;*/
left:auto;
right: 0;
margin-left: 0px;
display: block;
}
.FCBK, .TWITTER, .GPLUS, .MAIL, .HOME, .BACK, .INSTA {
margin-bottom:16px;
}

}


/**

@media only screen and (max-width: 640px)  {
body[yahoo] .ANCHO {width:440px!important; padding:0px;!important; }
body[yahoo] .CUADRO {width:220px!important; padding:0px;!important; }
}
@media only screen and (max-width: 540px) {
body[yahoo] .ANCHO {width:300px!important; padding:0;}
body[yahoo] .CUADRO {width:140px!important; padding:0px;}