@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
/*background: transparent;*/
border: 0;
vertical-align: top;
list-style:none;
list-style-type: none;
text-align:left;
}
:focus {
	outline: 0;
}

table {border-collapse: collapse;}
 
ul, li {margin:0; padding:0;}

 
.CONTAINER {
margin-right: auto;
margin-left: auto;
padding: 0 3.5rem 0 3.5rem;
text-align:left;
}

.GALERIA {
margin-right: 8rem;
margin-left: 8rem;
}

.INICIO {box-sizing:border-box;
padding:0;
margin:0;
font-size:1.15rem;
font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-weight:500;
background:#f6f7fd;
line-height:1.2rem;
color: #62647b;
}
.INICIODARK {background: #747691;
align-content:center;
margin: 0;
padding: 0;
overflow: visible;
}


.IMAGECOL{-ms-flex-preferred-size:63%;
flex-basis:63%;
max-width:63%;
display: block;
position: relative;
float:left;
padding: 4px;
left:0%;
}

.IMAGECOL img {display:block; max-height:100%; max-width:100%; margin-left:0%;}


.INFOCOL{-ms-flex-preferred-size:37%;
flex-basis:37%;
max-width:37%;
background: #e9e9f3;
float:left;
margin-top: 0.075rem;
margin-left: 0.075rem;
padding: 4px;
height:100%;
}

.FRAME {box-shadow: 0.075rem 0 0 0 #C9C9C9,0 0.075rem 0 0 #C9C9C9,0.075rem 0.075rem 0 0 #C9C9C9,0.075rem 0 0 0 #C9C9C9 inset,0 0.075rem 0 0 #C9C9C9 inset;
display: -webkit-flex;
display: -ms-flexbox; 
display: flex; 
overflow: hidden;
position: relative;
-ms-flex-preferred-size:100%;
flex-basis:100%;
float:left;
background: #FFFFFF;
max-height: 100%;
justify-content: space-between;
box-sizing:border-box;
height: 16rem;
width: 100%;
}

.MARCOILU {display: -webkit-flex;
display: -ms-flexbox; 
display: flex; 
overflow: hidden;
position: relative;
-ms-flex-preferred-size:100%;
flex-basis:100%;
float:left;
max-height: 100%;
justify-content: space-between;
box-sizing:border-box;
max-width: 20%;
border: 4px solid #F7F8FD;
}

.ILUSTRACIONES {width:100%; margin: 0; padding: 0; display:block;}

/*ICONOS GALERIA*/
div.icono {
position: relative;
max-width: 20%;
/*margin:0 auto 1.9rem auto;*/
}

div.iconomain {max-width: 33%;}
.iconocenter {margin-left: 28%;}
div.icono img {
width: 100%;
height: auto;
margin:0 auto;
}
div.iconomedio {position: relative; float:left; width: 100%;
height: auto; max-width: 20%;
margin:0 auto; min-width:20%}

#ZOCALO {
overflow: hidden;
position: relative;
-ms-flex-preferred-size:100%;
flex-basis:100%;
max-height: 100%;
box-sizing:border-box;
height: 7rem;
width: 100%;
}

.CENTER {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

/*TEXTOS*/
.SUJET {padding-right: .5em;
}
.EMPRESA {color: cornflowerblue;
font-weight:800;
line-height:0.8rem}
.FECHA {
line-height:1.35rem;
font-weight:300;}
.CABECERA{font-family: 'Work Sans';
font-size:4rem;
white-space:nowrap;
margin-bottom:3rem;
color: #747691;
text-align:center;
line-height:0rem;
text-decoration:none;
}
.SUBTITULO{font-size:3rem;
/*white-space:nowrap;*/
margin-bottom:0.5rem;
color: #747691;
text-align:center;
line-height: 3rem;}
.NAME {margin-bottom:0.1rem;
font-weight:400;
font-size:2.5rem;
color: #b0b1c8;
line-height:0;
letter-spacing: 0.35rem;
text-align:center;
}
.DESTACADO{font-size:1.144rem;
margin-bottom:1.25rem;
padding:0 2rem;
text-align:center;
color: #747691;
line-height: 2.2rem;
letter-spacing: 0.3rem;
}


h3 span {
font: normal 1.2rem Helvetica, Sans-Serif;
letter-spacing: 0.03rem;
position: absolute;
bottom: -0.1rem;
color: #747691;
margin: 0;
left: 0;
right: 0;
font-weight: 300;
text-align:center;
z-index: 8900;
}

h4{font-weight: 200;
color: #cccfe1;
letter-spacing: 0.1rem;
text-align: right;
padding: 0.2rem 0.95rem;
}
.LINE {background: darkgray;
height: 1px;
margin-top: 6px;
margin-bottom: 6px;
}
.LINE2{background: darkgray;
height: 1px;
margin-top: 8px;
margin-bottom: 4px;}

.piedefoto {color:#e9e9f3; font-size:22px; font-weight:100; font-style:italic; letter-spacing: 0.075rem; /*font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;*/ }
.pieilustracion {position: absolute;
width:100%;
  text-align: center;
  line-height:120%;
  font-weight:200;
  bottom:0;
  background-color: rgba(83, 85, 100, 0.8);}
/*FIN TEXTOS*/
/*SOBRETEXTO ILUSTRACIONES*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #BCBCCF;*/
}

.ILUSTRACIONES:hover .overlay {
  opacity: 1;
}

/*FIN SOBRETEXTO ILUSTRACIONES*/

/* pop-up image */

.popup {
position: absolute;
top: 0;
padding-top:80px;
width: 100%;
height: 500%;
display: none;
text-align:center;
/*background-image:url(https://rawgit.com/akidaniel/PORTFOLIO/gh-pages/imagenes/botones/PATRONDARK.gif);*/
background:#747691;
z-index: 8500;
opacity:1;  
}

.popup:target {
display: block;
-webkit-animation-name: fadein 0,2s; 
animation-name: fadein;
animation-duration: 0.2s;
}


.popup img {
padding: 4px;
max-width:100%;
z-index: 120;
border: solid 0.075rem gray;
cursor: pointer;
background-color:#FFFFFF;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

/* FIN pop-up image */


.SOCIAL {
position:absolute;
top:0;
left: 50%;
margin-left: -8.75rem;
margin-top:0.5625rem;
width: 17.5rem;
display: flex;
justify-content: space-between;
z-index: 9500;}

/*BOTON SOCIAL*/
.FCBK, .TWITTER, .GPLUS, .MAIL, .BACK, .HOME {
display:block;
text-indent:-625rem;
width:3.125rem;
height:3.125rem;
background-repeat:no-repeat;
cursor: pointer;
}
.HOME {background-image: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_INICIO.svg)}

.BACK {background-image: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_X2.svg)}

.FCBK {
background-image: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_FCBK2.svg);
}

.TWITTER {
background-image: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_TWITTER2.svg);
}

.GPLUS {
background-image: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_GPLUS2.svg);
}

.MAIL {
background-image: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_MAIL.svg);
}	

/*BOTON TEXT ME*/
.text-me {
	display: block;
	width: 3.75rem;
	height: 3.75rem;
	text-indent: -9999px;
	position: absolute;
	z-index: 999;
	right: 1.25rem;
	top: 1.8rem;
	background: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_TEXT.svg) no-repeat center 43%;
}
/*BOTON BACK TO TOP*/
.back-to-top {
	display: none;
	width: 3.75rem;
	height: 3.75rem;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 1.25rem;
	bottom: 1.25rem;
	background: url(https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/BT_TOP.svg) no-repeat center 43%;
}


.MAIL:hover, .GPLUS:hover, .TWITTER:hover, .FCBK:hover, .BACK:hover, .HOME:hover, .pre:hover, .post:hover {
-moz-filter: hue-rotate(0deg) saturate(0.2) brightness(3);
-o-filter: hue-rotate(0deg) saturate(0.2) brightness(3);
-ms-filter: hue-rotate(0deg) saturate(0.2) brightness(3);
-webkit-filter:hue-rotate(0deg) saturate(0.2) brightness(3);
filter:hue-rotate(0deg) saturate(0.2) brightness(3);
}

/*BOTONES SLIDER*/

.pre {cursor:pointer;
z-index: 1500;
position: absolute;
top: 1.875rem;
right: 6.875rem;
text-decoration: none;
height: 3.125rem;
width: 3.125rem;
text-indent:-9999px;
background: transparent url("https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/avance.png") no-repeat left top;
background-size:cover;
}
  
.post {cursor:pointer;
z-index: 1500;
position: absolute;
text-indent:-9999px;
top: 1.875rem;
/*right: 50px;*/
height: 3.125rem;
width: 3.125rem;
background: transparent url("https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/avance.png") no-repeat right top;
 background-size:cover;
}

/*SLIDER*/
.SLIDER {position: absolute;
width: 6.25rem;
top: -1.4rem;
right: -2.2rem;}

.rslides {
position: relative;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
margin: 0 auto;
}

.rslides_container {
/*margin-bottom: 50px;*/
position: relative;
float: left;
width: 100%;
}

.centered-btns_nav {
z-index: 3;
position: absolute;
-webkit-tap-highlight-color: rgba(0,0,0,0);
top: 30px;
right: 95px;
opacity: 1.0;
text-indent: -9999px;
overflow: hidden;
text-decoration: none;
height: 40px;
width: 40px;
background: transparent url("https://rawgit.com/akidaniel/darezd/gh-pages/imagenes/ICONOS/avance.png") no-repeat left top;
background-size:cover;
}

.centered-btns_nav:active {
  opacity: 0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 50px;
  }

.rslides {}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/* FIN SLIDER */
.FIRST {margin-top: 0;}
#FORM {display:none; position: absolute; top: 1.6rem;
right: 4rem;} 

#FORMPHONE  {display:none; position: relative; margin: 0 auto;
text-align: center;}

.CATALOGOS {display:none; padding-top: 70px;}
.CATALOGOS:target {display:block}


/*MINI SLIDER*/
.fling-minislide {width:100%; height:100%; overflow:hidden; position:relative; text-align: center;}

.fling-minislide figure{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto; text-align: center;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide figure:nth-child(4){animation-delay:0s;}
.fling-minislide figure:nth-child(3){animation-delay:5s;}
.fling-minislide figure:nth-child(2){animation-delay:10s;}
.fling-minislide figure:nth-child(1){animation-delay:15s;}

/*FIN MINI SLIDER*/
@media only screen and (min-width:100px) and (max-width: 350px) {/* and (min-height:320px)*/
.FRAME {-ms-flex-preferred-size:100%;
flex-basis:100%;
max-width:100%;
display:inline;
height: 100%;
}
.MARCOILU {
max-width: 100%;}
.IMAGECOL {
    left:50%;}
.IMAGECOL img {position:relative;
 margin-left:-50%;}

.CONTAINER {
padding: 0 1.5rem 0 1.5rem;
}
.CABECERA {font-size: 3rem; margin-bottom: 1.8rem;}
/*.SUBTITULO {margin-top: 0rem;}*/

.INFOCOL { min-width:100%;}

.popup img {max-width: 90%;
}
/*.NAME {
font-size: 1.2rem;
letter-spacing:0.3rem;}*/

.DESTACADO, .NAME {font-size: 1.3rem;
margin: 0.8rem 0 0 0;
line-height:1.5rem;
letter-spacing: 0.1rem;
padding: 0;
}

.DESTACADO {font-size: 1.2rem; line-height:1.2rem; margin-bottom:0.8rem}
.GALERIA {margin: 0 1.2rem 0 1.2rem}
.text-me {top: 6.6rem;
width: 3rem;}
div.icono {max-width: 90%;}
.iconocenter {margin-left: 13%;}
.cuarto {margin-left: 0.8rem;}
div.iconomedio {min-width:100%}
div.iconomedio:after {
position:absolute;
content:" ";
left:0;
top:0;
width:100%;
bottom:0;
z-index:9999;
}
#FORMPHONE {display:block}
.FIRST {margin-top:1rem}
.SLIDER {
    align-items: middle;
    left: 50%;
}
h4 {text-align: center;}

.CATALOGOS {padding-top:120px}
.SPECIAL {padding-top: 400px;} 

.fling-minislide {text-align:left; }
.fling-minislide figure {margin: 0 auto;}
}
@media only screen and (min-width:351px) and (max-width: 420px) {/* and (min-height:490px)*/

.FRAME {-ms-flex-preferred-size:100%;
flex-basis:100%;
max-width:100%;
display:inline;
height: 100%;
}
.IMAGECOL {
    left:50%;}
.IMAGECOL img {position:relative;
 margin-left:-50%;}

.CONTAINER {
padding: 0 1.5rem 0 1.5rem;
}

.SUBTITULO {margin-top: 5rem;}

.INFOCOL { min-width:100%;}

.popup img {max-width: 90%;
}
.NAME {
font-size: 1.6rem;
letter-spacing:0.3rem;}

.DESTACADO {font-size: 1.3rem;
margin-bottom: 0.8rem;
line-height:1.6rem;
letter-spacing: 0.1rem;
padding: 0 1.3rem;
}
.GALERIA {margin: 0 1.2rem 0 1.2rem}
.text-me {top: 6.6rem;
width: 3rem;}
div.icono {max-width: 90%;}
.iconocenter {margin-left: 13%;}
.cuarto {margin-left: 0.8rem;}
div.iconomedio {min-width:100%}
div.iconomedio:after {
position:absolute;
content:" ";
left:0;
top:0;
width:100%;
bottom:0;
z-index:9999;
}
#FORMPHONE {display:block}
.FIRST {margin-top:1rem}
.MARCOILU {
max-width: 100%;}
.CATALOGOS {padding-top:120px}
.SPECIAL {padding-top: 400px;} 

.fling-minislide {text-align:left; }
.fling-minislide figure {margin: 0 auto;}
}

@media only screen and (min-width:421px) and (max-width: 600px) {

.FRAME {-ms-flex-preferred-size:100%;
flex-basis:100%;
max-width:100%;
display:flex;
}
.MARCOILU {
max-width: 100%;}
.CONTAINER {
padding: 0 2.5rem 0 2.5rem;
}
.SUBTITULO {margin-top: 5rem;}
.IMAGECOL {
    left:0%;}
.IMAGECOL img {max-width:100%;
    max-height:100%;
    margin-left:0%;}
.INFOCOL {min-height:100%; max-width:100%;}
.NAME {
font-size: 1.6rem;
letter-spacing:0.3rem;}
.text-me {top:1.2rem; width: 3.0rem;
height: 3.0rem;}
.DESTACADO {font-size: 1.3rem;
margin-bottom: 0.8rem;
line-height:1.6rem;
letter-spacing: 0.2rem;}
div.icono {
max-width: 70%;
}
.GALERIA {margin: 0 2rem 0 2rem}
.cuarto {margin-left: 4rem;}
div.iconomedio {min-width:50%}
#FORMPHONE {display:block;}
.FIRST {margin-top:1rem}
.CATALOGOS {padding-top:120px}
.SPECIAL {padding-top: 400px;} 

.fling-minislide {text-align:left; }
.fling-minislide figure {margin: 0 auto;}
}
@media only screen and (min-width:601px) and (max-width: 900px) {
.CONTAINER {
padding: 0px 4rem 0 4rem;
}

.FRAME {display:inline;
-ms-flex-preferred-size:50%;
flex-basis:50%;
max-width:50%;
height: 22.4rem;
}

.MARCOILU {
max-width: 50%;}

.SUBTITULO {margin-top: 5rem;}

.CABECERA {font-size:6rem; margin-bottom:4rem}
.DESTACADO {font-size: 1.3rem;
margin-bottom: 0.8rem;
line-height:1.6rem;
letter-spacing: 0.2rem;}
.IMAGECOL {
    left:50%;}
.IMAGECOL img {position:relative;
    max-width:100%;
    max-height:100%;
    margin-left:-50%;}
.INFOCOL {min-width:100%;max-height:100%; width: 100%;
}
div.icono {
float: left;
}

.BOTONERA {margin-top: 5rem;}
.GALERIA {margin: 0 2rem 0 2rem}
div.iconomedio {min-width:50%}
#FORMPHONE {display:block; }
.FIRST, .SECOND {margin-top: 1rem;}
.CATALOGOS {padding-top:120px}
.SPECIAL {padding-top: 400px;} 

.fling-minislide {text-align:left; }
.fling-minislide figure {margin: 0 auto;}
}

@media only screen and (min-width:901px) and (max-width: 1024px) {

.CONTAINER {
padding: 0px 2rem 0 2rem;
}
.FRAME {display:flex;
-ms-flex-preferred-size:50%;
flex-basis:50%;
max-width:50%;
min-height: 100%;}

.MARCOILU {
max-width: 33%;}

.CABECERA {font-size:6rem; margin-bottom:4rem}
.SOCIAL {
top:93px;
margin-right: 5px;
width:60px;
/*height:250px;*/
left:auto;
right: 0;
margin-left: 0px;
display: block;
}
.FCBK, .TWITTER, .GPLUS, .MAIL, .HOME, .BACK {
margin-bottom:16px;
}
div.icono {
float: left;
}
div.iconomedio {min-width:33%}
#FORM {display:block}
}


@media only screen and (min-width:1025px) and (max-width: 1200px) {
.CABECERA {font-size:6rem; margin-bottom:4rem}

.FRAME {-ms-flex-preferred-size:33%;
flex-basis:33%;
max-width:33%;
}

.MARCOILU {
max-width: 33%;}

.SOCIAL {
top:93px;
margin-right: 5px;
width:60px;
/*height:250px;*/
left:auto;
right: 0;
margin-left: 0px;
display: block;
}
.FCBK, .TWITTER, .GPLUS, .MAIL, .HOME, .BACK {
margin-bottom:16px;
}
div.icono {
float: left;
}
div.iconomedio {min-width:25%}
#FORM {display:block}

}

@media only screen and (min-width:1201px) and (max-width: 1454px) {
.CABECERA {font-size:6rem; margin-bottom:4rem}

.FRAME {-ms-flex-preferred-size:25%;
flex-basis:25%;
max-width:25%;
}

.MARCOILU {
max-width: 25%;}
.SOCIAL {
top:93px;
margin-right: 5px;
width:60px;
/*height:250px;*/
left:auto;
right: 0;
margin-left: 0px;
display: block;
}
.FCBK, .TWITTER, .GPLUS, .MAIL, .HOME, .BACK {
margin-bottom:16px;
}
div.icono {
float: left;
}
#FORM {display:block}

}

@media only screen and (min-width:1455px) and (max-width: 2000px) {
	.GALERIA {margin: 0 15rem;}
.CABECERA {font-size:6rem; margin-bottom:4rem}

.FRAME {-ms-flex-preferred-size:20%;
flex-basis:20%;
max-width:20%;
}
.MARCOILU {
max-width: 25%;}
.SOCIAL {
top:93px;
margin-right: 5px;
width:60px;
/*height:250px;*/
left:auto;
right: 0;
margin-left: 0px;
display: block;
}
.FCBK, .TWITTER, .GPLUS, .MAIL, .HOME, .BACK {
margin-bottom:16px;
}
div.icono {
float: left;
}
div.iconomedio {min-width:12%}
#FORM {display:block}

}

@media only screen and (min-width:2001px){
	.GALERIA {margin: 0 30rem;}
.CABECERA {font-size:6rem; margin-bottom:4rem}

.FRAME {-ms-flex-preferred-size:16%;
flex-basis:16%;
max-width:16%;
}

.SOCIAL {
top:93px;
margin-right: 5px;
width:60px;
/*height:250px;*/
left:auto;
right: 0;
margin-left: 0px;
display: block;
}
.FCBK, .TWITTER, .GPLUS, .MAIL, .HOME, .BACK {
margin-bottom:16px;
}
div.icono {
float: left;
}
div.iconomedio {min-width:10%}
#FORM {display:block}

}

@media only screen and (max-width: 640px)  {
body[yahoo] .ANCHO {width:440px!important; padding:0px;!important; }
body[yahoo] .CUADRO {width:220px!important; padding:0px;!important; }
}
@media only screen and (max-width: 540px) {
body[yahoo] .ANCHO {width:300px!important; padding:0;}
body[yahoo] .CUADRO {width:140px!important; padding:0px;}